name: Deploy Site
on:
  workflow_dispatch:
  push:
    branches:
      - main
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5

      - name: "Set up Python"
        uses: actions/setup-python@v5

      - name: Install the dependencies
        run: uv sync --all-extras --dev

      - name: Build the Site
        run: uv run mkdocs gh-deploy --force
